/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2015, 10:43:27 AM
    Author     : Kai_Jiang
*/

#histogram{
    
   width:520px;
   height:520px;
} 